.cat-module-container {
    display: flex;
    justify-content: space-between;
    height: 190px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

}


/* .cat-module {
    display: flex;
    justify-content: space-between;
    width: auto;
    border: 1px solid pink;
} */