.main-hero-banner {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 352px;
    width: 100vw;
    height: 37.5vh;
    /* border: 1px solid red; */
}

.main-hero-banner  div {
    border-radius: 4px;
}


.hero-block-large {
    display: flex;
    min-width: 600px;
    width: 65.8%;
    height: 100%;
    background-color: #DDEAE2;
}

.hero-medium-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 32.7%;
    height: 100%;
    /* margin-left: 1%; */
    /* border: 1px solid red; */
}

.hero-block-medium {
    display: flex;
    box-sizing: border-box;
    /* width: 20%; */
    /* height: 67%;   */
    height: 69%;  
    /* margin-bottom: 5%; */
    margin-bottom: auto;
    background-color: rgb(180, 225, 228);
    border: 1px solid red;


}

.hero-block-small {
    box-sizing: border-box;
    /* min-width: 300px;
    width: 20%; */
    height: 25%;
    background-color: #DDEAE2;
}



.hero-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    /* padding: 0%; */
    overflow: hidden;
    /* border: 1px solid red; */
}

.hero-large-img {
    height: 107%;
    /* width:  66.8%; */
    width: auto;
    z-index: 0;
    /* margin: -20px; */
}

.hero-medium-img {
    /* display: flex; */
    /* box-sizing: border-box; */
    height: 180%;
    width:  100%;
    overflow: hidden;
    margin-bottom: 10px;
    z-index: 0;
}


.hero-medium-text {
    
    position: absolute;
    /* float: left; */
    margin: 0px;
    z-index: 5;
    border: 1px solid red;
}