#splash-main {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}


.splash-inner {
    display: flex;
    flex-direction: column;
}

.cat-module-1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

.cat-module-header {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.7px;
    display: flex;
    height: 30px;
    margin-top: 5px;
    /* margin: 5px 0px 5px 0px; */
    /* border: 1px solid turquoise; */
}

.cat-module-header > a {
    /* display: flex;
    align-self: flex-end; */
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 0px -1px 12px;
    color: #212121;
    font-weight: bolder;

    /* border: 1px solid purple; */
}

/* .prods {
    display: flex;
    height: 300px;
    width: 100%;
}


.prod-card {
    height: auto;
    width: 100px;
}

.prod-card > img {
    height: 100px;
    width: 100px;
} */