<%# icon library %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato|Sahitya|Raleway|Zilla+Slab|Noto+Serif+TC|Habibi|Martel:200|Scope+One|Roboto+Slab:200|Antic+Slab|Slabo+27px&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">



<% if logged_in? %>
    <script type="text/javascript">
    window.currentUser = <%= render(
        user: current_user,
        partial: "/api/users/user",
        formats: :json,
        object: current_user
    ).html_safe %>

    </script>
<% end %>


<main id="root">not working</main>


    <%# <script type="text/javascript">
    window.currentUser = <%= render partial: "api/users/user", 
    formats: [:json], 
    handlers: [:jbuilder],
    locals: { user: current_user } %>
    
<%# // window.currentUser = <%= render(
//     "api/users/user.json.jbuilder",
//     user: current_user
// ).html_safe %>



    </script> %>
