#category-divider {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    height: 0px;
    border-bottom: 2px solid #EFEFEF;
    /* padding-bottom: -2px; */
    /* padding: 0px; */
    z-index: 2;
}

.categories-bar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: space-around; */
    width: auto;
    height: 33px;
    padding-bottom: 10px;
    /* padding-bottom: 10px; */
}


.cat-header{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}