.cart-sidebar-container {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 50px 0px 0px 0px;
    /* border: 1px solid red; */
}

.cart-sidebar-container > p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.sidebar-quantity {
    font-size: 12px;
    height: 20px;
    margin-bottom: 5px;
}

.cart-sidebar-container > input[type='select'] {
    appearance: none;
}


#sidebar-quantity-dropdown {
    background-color: transparent;
    overflow: hidden;
    height: 50px;
    width: 100%;
    border: 1px solid rgba(34, 34, 34, 0.15);
    box-shadow: 1px 1px 10px #E8E8E8;
    outline: none;
    text-indent: 17px;
    margin-bottom: 15px;
}

#sidebar-quantity-dropdown:hover {
    cursor: pointer;
}


.addtocart-btn {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-style: none;
    background-color: #222323;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 5px;
}

.addtocart-btn:hover {
    box-shadow: 0px 0px 10px 2px #E8E8E8;
    transform: scale(1.02);
    cursor: pointer;
    background-color:#3c3c3c;
}

.addtocart-btn:focus { outline: none}
