.image-and-sidebar {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 80vh;
    /* border: 1px solid red; */
}


.product-sidebar {
    display: block;
    /* max-width: 22vw; */
    min-width: 410px;
    max-width: 410px;
    /* height: auto; */
    height: 2000px;
    margin-left: 10px;
    /* border: 1px solid green; */
}


.review-sidebar-header {
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    height: 20px;
    width: 100%;
    margin: 10px 5px 10px 5px;
}

.review-count {
    font-family: 'Univers', sans-serif;
    letter-spacing: -1.5px;
    font-weight: 100;
    width: 50px;
}

.mini-stars {
     display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 20px;
    margin: 0px 7px 0px 10px;
}

.mini-stars  > svg{
    display: flex;
    height: 16px;
    width: 16px;
}


.product-name {
    text-align: left;
    font-size: 25px;
    font-family: 'Martel', serif;  /* font-weight is specify in font import url */
    /* letter-spacing: 0rem; */
    margin: 5px 5px 30px 5px;
    /* font-weight: 700; */
    /* border: 1px solid orange; */
}


.product-price {
    display: flex;
    align-items: flex-end;
    font-family: 'Helvetica', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    /* border: 1px solid orange; */
}

.product-price > span {
    letter-spacing: 2px;
}


.product-text {
    font-family: 'Arial', sans-serif;
    /* min-width: 350px; */
    max-width: 100%;
    color: rgb(46, 46, 46)
}


.product-description-container {
    height: auto;
    width: auto;
    /* border: 1px solid fuchsia; */
}

.product-description {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    /* margin: 100px 0px 500px 0px; */
}


.seller-info-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 150px;
    width: 100%;
    margin: -10px 0px 0px 0px;
    /* border: 1px solid green; */
}


.seller-photo-text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 10px 0px 20px 0px;
    /* border: 1px solid fuchsia; */
}

.seller-info-container > h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
    /* border: 1px solid red; */
}

.seller-info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px 0px 20px 10px;
    /* border: 1px solid red; */
}

.seller-info > h2 {
    display: flex;
    font-size: 20px ;
    height: 30px;
    width: 100%;
    /* border: 1px solid pink; */
}

.seller-info > p {
    display: flex;
    font-size: 14px ;
    height: 20px;
    width: 100%;
    /* border: 1px solid blue; */
}

.seller-info > p > span::before{
    content:' ';
    display: block;
    width: 5px;
}

.seller-photo-text-container > img {
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    /* border: 1px solid blue; */
}

.message-seller-btn {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-style: none;
    background: none;
    color: #212121;
    /* padding: 10px; */
    border-radius: 25px;
    font-size: 16px;
    /* margin-top: px; */
    margin-bottom: 5px;
    border: 1.5px solid #212121;
}

.message-seller-btn:hover {
    box-shadow: 0px 0px 10px 2px #E8E8E8;
    transform: scale(1.02);
}


@media only screen and (max-width: 1700px) {

   .product-sidebar {
        display: block;
        min-width: 350px;
        max-width: 350px;
        margin-left: 10px;
    }
}




@media only screen and (max-width: 1500px) {
    .product-sidebar {
        display: block;
        min-width: 300px;
        max-width: 300px;
        margin-left: 10px;
    }
}


/* @media only screen and (max-width: 1000px) {
    .image-and-sidebar {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .product-sidebar {
        display: flex;
        min-width: 200px;
        max-width: 100%;
        border: 1px solid green;
        margin-left: 10px;
    }

 
} */