.product-card-container {
    /* height: 190px; */
    height: auto;
    width: 207px;
    font-family: 'Arial', sans-serif; 
    font-size: 15px;
    font-weight: normal;
    /* border: 1px solid pink; */
}

/* .product-card-container:not(:first-of-type) {
    margin: 0px 0px 0px 10px;
}

.product-card-container:not(:last-of-type){
    margin: 0px 10px 0px 0px;
} */

.product-card-image {
    display: flex;
    object-fit: cover;
    /* max-height: 150px; */
    height: 163px;
    width: 100%;
    border-radius: 2px;
}

.product-card-price {
    font-size: 17px;
    margin: 6px 0px 6px 0px;
}


/* .product-card-img {
    width: 100%;
    height: 100%;
} */

.product-card-container > a {
    color: inherit;
    text-decoration: none;
}