.image-and-sidebar {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 80vh;
    /* border: 1px solid red; */
}


.product-sidebar {
    display: block;
    /* max-width: 22vw; */
    min-width: 410px;
    max-width: 410px;
    /* height: auto; */
    height: 2000px;
    margin-left: 10px;
    border: 1px solid green;
}


.review-header {
    margin: 5px;
    /* border: 1px solid turquoise; */
}

.product-name {
    text-align: left;
    font-size: 29.5px;
    font-family: 'Roboto Slab', serif;  /* font-weight is specify in font import url */
    font-weight: 700;
    /* border: 1px solid orange; */
}


.product-price {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}


.product-text {
    /* min-width: 350px; */
    max-width: 100%;
}


.seller-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 150px;
    width: 100%;
    margin: 20px 0px 20px 10px;
    /* border: 1px solid green; */
}


.seller-photo-text-container {
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 1px solid fuchsia; */
}

.seller-info-container > h3 {
    display: flex;
    align-items: center;
    height: 20px;
    width: 100%;
    margin: 10px 0px -20px 0px;
}

.seller-info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px 0px 20px 10px;
    /* border: 1px solid red; */
}

.seller-info > h2 {
    display: flex;
    font-size: 20px ;
    height: 30px;
    width: 100%;
    /* border: 1px solid pink; */
}

.seller-info > p {
    display: flex;
    font-size: 14px ;
    height: 20px;
    width: 100%;
    /* border: 1px solid blue; */
}

.seller-photo-text-container > img {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* border: 1px solid blue; */
}


@media only screen and (max-width: 1700px) {

   .product-sidebar {
        display: block;
        min-width: 350px;
        max-width: 350px;
        margin-left: 10px;
    }
}




@media only screen and (max-width: 1500px) {
    .product-sidebar {
        display: block;
        min-width: 300px;
        max-width: 300px;
        margin-left: 10px;
    }
}


/* @media only screen and (max-width: 1000px) {
    .image-and-sidebar {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .product-sidebar {
        display: flex;
        min-width: 200px;
        max-width: 100%;
        border: 1px solid green;
        margin-left: 10px;
    }

 
} */