.search-suggestion-box {
    font-size: 16px;
    display: hidden;
    /* visibility: hidden; */
    position: absolute;
    top: 100%;
    font-size: 16px;
    width: 100%;
    /* height: 500px; */
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 0px 10px 0px;
    z-index: 500;
    border: 1px solid gainsboro;
    background-color: white;
    box-shadow: 0px 0px  7px 1px rgb(212, 212, 212);
    transition: height 1s, width 1s, opacity 0s 1s;
}



.searchbar-form input[type="text"]:focus + .search-suggestion-box {
    /* display: hidden; */
    /* visibility: hidden; */
    /* width: 53.5vw; */
    height: fit-content;
    opacity: 1;
    transition: height 1s, width 1s, opacity 0s;
}   

/* .searchbar-form input[type="text"]:active + .search-suggestion-box{
    visibility: visible;
} */

.suggestion-visible {
    visibility: visible;
        z-index: 1000;

}
.suggestion-hidden {
    visibility: hidden;
}

.hide-overlay {
    display: none;
}

.show-overlay {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-color: rgba(0,0,0,0.5); */
    z-index: 100;
}


.search-suggestion-box > h3 {
    font-family: 'Arial', sans-serif;
    text-indent: 15px;
    font-weight:   510;
    margin-bottom: 8px;
}

.search-suggestion-box > p {
    text-indent: 15px;
    padding: 8px 0px 8px 0px;
    /* border: 1px solid red; */
}


.search-suggestion-box > p:hover {
    cursor: pointer;
    background-color: gainsboro;
}