#app {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    color: #212121;
}


#main {
    min-width: 700px;
    /* max-width: 69.6vw; */
    max-width: 69.3vw;
    height: 2000px;
    /* border: 1px solid turquoise; */
}




#inner {  
    width: auto;
    border-collapse: collapse;
    box-sizing: border-box;
}




@media only screen and (max-width: 1500px) {
    #main {
        min-width: 93vw;
        /* max-width: 95%; */

        /* margin-left: 5%;
        margin-right: 5%; */
        /* min-width: 500px; */
        /* min-width: 69.6vw; */

        /* min-width: 700px;
        max-width: 69.6vw; */
        height: 2000px;
        border: 1px solid red;

    }
}



@media only screen and (max-width: 900px) {
    #main {
        /* margin-left: 5%;
        margin-right: 5%; */
        min-width: 700px;
        border: 1px solid blue;
    }
}