
#inner {
    /* min-width: 800px; */
    /* width: 74vw; */
    width: 100%;
    /* padding: 0 5vh 0 5vh; */
    /* margin: 0px 1em 0px 1em; */
    /* display: flex;
    justify-content: center; */
    align-items: center;
    /* background-color: gainsboro; */
    /* border: 1px solid red; */
    border-collapse: collapse;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


#main {
    margin-left: 12%;
    margin-right: 12%;
    min-width: 800px;
}