.cart-sidebar-container {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 50px 0px 0px 0px;
    /* border: 1px solid red; */
}

.cart-sidebar-container > p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.sidebar-quantity {
    font-size: 12px;
    height: 20px;
    margin-bottom: 5px;
}

.cart-sidebar-container > input[type='select'] {
    appearance: none;
}


#sidebar-quantity-dropdown {
    background-color: transparent;
    overflow: hidden;
    height: 50px;
    width: 100%;
    border: 1px solid rgba(34, 34, 34, 0.15);
    box-shadow: 1px 1px 10px #E8E8E8;
    outline: none;
    text-indent: 17px;
    margin-bottom: 15px;
}

/* #sidebar-quantity-dropdown:hover {
    cursor: pointer;
} */


.addtocart-btn {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-style: none;
    background-color: #222323;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 5px;
}

.addtocart-btn:hover {
    box-shadow: 0px 0px 10px 2px #E8E8E8;
    transform: scale(1.02);
    background-color:#3c3c3c;
    cursor: pointer;
}

.addtocart-btn:focus { outline: none}




.addtocart-confirm {
    position: fixed;
    height: 200px;
    width: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    margin: auto;
    background-color: #FFFFFF;
    z-index: 105;
      flex-direction: column;
    justify-content: space-around;
    padding: 10px 15px 10px 15px;
}


.prod-cart-preview {
    display: flex;
    margin-left: 10px;
}

.addtocart-confirm > h3{
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 10px 0px 15px 0px;
}

.prod-cart-preview > img {
    object-fit: cover;
    height: 110px;
    width: 110px;
    border-radius: 3px;
    margin: 0px 15px 15px 0px;
}


.preview-text{
    height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.preview-prod-qty{
    font-size: 12px;
    margin: 5px 0px 15px 0px;
}

.preview-prod-name { 
    display: block;
    font-size: 14px;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: underline;
    padding: 2px 0px 0px 0px;
}

 .preview-prod-price {
    font-size: 14px;
    margin-bottom: 15px;

 }

.preview-prod-name {
    font-weight: 600;
}


.gotocart-btn {
    font-size: 14px;
    font-weight: 500;
    height: 25px;
    width: 100px;
    border: 1px solid gainsboro;
    /* margin-top: 10px;
    margin-bottom: 40px; */
}

.gotocart-btn:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}


.close-preview-btn {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    height: 25px;
    width: 25px;
    background-color: #222323;
    border: 1px solid #222323;
    color: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 2px;
}


.close-preview-btn:hover {
    background-color:#3c3c3c;
    cursor: pointer;
}



/* Sign in to add to cart tooltip */

#add-cart-signin {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    height: 50px;
    width: 230px;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

#add-cart-signin > p > button {
    font-family: inherit;
    font-size: inherit;
    border-style: none;
    text-decoration: underline;
    background-color: transparent;
}

#add-cart-signin > p > button:hover {
    cursor: pointer;
    color: tomato;
    transition: color 0.3s ease-in-out;
} 

.add-cart-signin {
    visibility: visible;
}


/* 
#add-cart-signin::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
} */