.cart-outer-container {
    min-height: 800px;
    margin-bottom: 200px;
}

.cart-show-container {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    /* min-height: 800px;
    margin-bottom: 200px; */
    width: 69.6vw;
}

.cart-background {
    display: block;
    position: absolute;
    left: 0;
    height: 100em;
    width: 100vw;
    background-color: rgb(251,249,246);
    z-index: -100;
    margin-top: 5px;
    /* background-color: blue; */
}

.cart-inner {
    height: auto;
    width: 73%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    /* border: 1px solid red; */
}

/* .cart-inner > section > h3 {
    font-weight: 600;
} */

.cart-inner > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(251,249,246);
    font-size: 28px;
    padding: 20px 5px 20px 5px;
}


.keep-shopping-btn {
    box-sizing: border-box;
    max-width: 110px;
    min-height: 30px;;
    /* padding: 10px; */
    font-size: 13px;
    background: white;
    border-radius: 5px;
    /* margin-bottom: 5px; */
}

.cart-items {
    position: relative;
    border: 0.5px solid gainsboro;
}

.keep-shopping-btn {
    height: 20px;
    width: 150px;
}


.cart-pay-container {
    position: absolute;
    top: 15px;
    right: 0;
    height: 300px;
    width: 30%;
    border-radius: 15px;
    margin: 0px 20px 0px 20px;
    border: 1px solid blue;
}

