
.cart-item-bar {
    font-family: 'Helvetica', sans-serif;
    height: 400px;
    width: 63%;
    margin: 20px 20px 50px 20px;
}

.cart-item-bar > section {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.cart-item-bar > section > img {
    display: block;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.ci-store-name {
    font-size: 15px;
}

.ci-contact-shop {
    font-size: 12px;
    position: absolute;
    font-weight: 400;
    right: 0;
    color: rgb(77, 77, 77);
}

.ci-block-upper, .ci-block-lower {
    position: relative;
    display: flex;
}


.ci-image {
    object-fit: cover;
    height: 120px;
    width: 150px;
    border-radius: 5px;
    border: 0.5px solid gainsboro;
}

.ci-image:hover {
    cursor: pointer;
}

.ci-name {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    margin: 0px 20px 0px 20px;
}



.ci-name > p {
    width: 100%;
    margin-bottom: 20px;
}

.ci-name > p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ci-name button {
    font-size: 14px;
    border-style: none;
    background-color: transparent;
    padding: 8px 0;
}

.ci-name button:hover {
    cursor: pointer;
    text-decoration: underline;
}


#ci-qty-dropdown{
    height: 30px;
    width: 60px;
    background-color: white;
    border: 1px solid gainsboro;
}

.ci-price {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    right: 0;
}

.gift-label {
    display: flex;
    font-size: 14px;
    margin: 40px 0px 50px 0px;
    width: fit-content;
}


.gift-label > section {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 5px;
}

.gift-label > section > aside {
    color: rgb(94, 94, 94);
    font-size: 12px;
    margin-top: 2px;
}


.add-note {
    width: 100px;
    height: 50px;
    background-color: white;
}


.ci-block-lower{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}

.ci-block-lower > textarea {
    background: white;
    font-size: 15px;
    height: 40px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid gainsboro;
        padding: 5px 0px 5px 5px;
    outline:none;
}


.ci-block-lower > textarea::placeholder {
    color: gray;
}


.ci-block-lower > section {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: right;
}


.ci-block-lower > section > h3 {
    font-size: 14px;
    margin: 0px 0px 10px 0px;
}

.ci-block-lower > section > p {
    color: grey;
    font-size: 11px;
    line-height: 1.5;
}

.checkout-shop-btn {
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    width: 100%;
    border: 1px solid gainsboro;
    margin-top: 10px;
    margin-bottom: 40px;
}

.checkout-shop-btn:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}


.ci-divider {
    display: block;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid gainsboro;
}


@media only screen and (max-width: 900px) {
    .ci-name p {
        padding-right: 36px;
    }
}