.cart-outer-container {
    min-height: 1000px;
    margin-bottom: 200px;
}

.cart-show-container {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 800px;
    padding-bottom: 200px; 
    /* min-width: 69.6vw; */
    width: 70%;
    z-index: 100;
    /* border: 1px solid blue; */
}

@media only screen and (max-width: 1900px) {
    .cart-show-container {  
        width: 93.5%;
    }

}



.cart-background {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    /* min-height: 100em; */
    min-height: 130em;
    width: 100vw;
    background-color: rgb(251,249,246);
    /* z-index: -100; */
    margin-top: 3px;
    padding-bottom: 200px;
    /* background-color: blue; */
}

.cart-inner {
    height: auto;
    width: 73%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    /* border: 1px solid red; */
}

/* .cart-inner > section > h3 {
    font-weight: 600;
} */

.cart-inner > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(251,249,246);
    font-size: 28px;
    padding: 20px 5px 20px 5px;
    margin-top: -10px;
        /* border: 1px solid red; */

}


.keep-shopping-btn {
    box-sizing: border-box;
    max-width: 110px;
    min-height: 30px;;
    /* padding: 10px; */
    font-size: 13px;
    background: white;
    border-radius: 5px;
    /* margin-bottom: 5px; */
}

.keep-shopping-btn:hover {
    cursor: pointer;
}

.cart-items {
    position: relative;
    border: 0.5px solid gainsboro;
    z-index: 5;
}

.keep-shopping-btn {
    height: 20px;
    width: 150px;
}


.cart-pay-container {
    position: absolute;
    top: 15px;
    right: 0;
    height: 320px;
    width: 30%;
    border-radius: 15px;
    margin: 0px 20px 0px 20px;
    border: 1px solid gainsboro;
    box-shadow: 0px 0px  7px 1px rgb(212, 212, 212);
}

.cart-pay-inner {
    padding: 20px 20px 50px 20px;
}

.cart-pay-inner > h3 {
    margin: 0px 0px 15px 0px;
    font-weight: 500;
}




.payment-icons > svg {
    height: 25px;
    width: 45px;
    border: 0.5px solid gainsboro;
    border-radius: 2px;
    margin-left: 5px;
}



.credit-payment {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}


.payment-icons {
    display: flex;
}


.large-radio-btn {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid rgb(175, 175, 175);
}

.large-radio-btn:focus {
    background-color: black;
}

.cart-pay-divider {
    display: block;
    border: 0.5px solid gainsboro;
}

.ci-items-total, .ci-shipping, .ci-total {
    letter-spacing: 0.5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
}

.ci-total {
    font-weight: 600;
}



.checkout-btn {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-style: none;
    background-color: #222323;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 5px;
}

.checkout-btn:hover {
    box-shadow: 0px 0px 10px 2px #E8E8E8;
    transform: scale(1.02);
    cursor: pointer;
    background-color:#3c3c3c;
}




/* Mastercard SVG CSS */
.a{opacity:0;}
.b{fill:#fff;}
.c{fill:#ff5f00;}
.d{fill:#eb001b;}
.e{fill:#f79e1b;}
