@import '../util/variables.scss';

.about-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 575px;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
    color: black;
    background-color: #fdebd2;
		align-items: center;
		
}
.about-text-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	align-items: center;
	width: 1400px;
}

.about-block > h2 {
	font-family: 'Martel', serif;  /* font-weight is specified in font import url */
}

.about-banner-bg {
    position: absolute;
    /* left: 200px;
    bottom: 30px; */
    /* left: 300px;
    bottom: 100px; */
    width: 100%;
    height: auto;
    opacity: 0.85;
    z-index: -5;
    /* transform: scale(1.5); */
}

.about-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    // position: absolute;
    height: 200px;
    width: 100%;
    margin-top: 10px;
    
    /* border: 1px solid green; */
}

.about-header-container > h2 {
    font-family: 'Martel', serif; 
    font-size: 42px;
    margin-bottom: 15px;
    color: black;
}

.about-header-container > p {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    text-decoration: underline;
}


.about-block-container{
    // position: absolute;
    top: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 100%;
    /* border: 1px solid blue; */
}

.about-block-container h2 {
    color: black;
}


.about-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    max-width: 400px;
    /* color: gray */
}

.about-block {
	h2 {
		color: $default-orange;
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	p {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    /* font-family: 'Roboto', sans-serif; */
    line-height: 1.5;
    font-size: 16px;
	}
}

.question-block {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	// position: absolute;
	bottom: 0px;
	height: 175px;
	width: 100%;

	h2 {
		font-family: 'Helvetica', sans-serif;
		font-weight: 600;
		font-size: 19px;
		margin-bottom: 24px;
	}
}

.question-btn {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 16px;
    border-style: none;
    background: transparent;
    border-radius: 25px;
    margin-bottom: 5px;
    /* border: 1.5px solid gray; */
    border: 1.5px solid #F1651F;
    /* color: rgb(99, 98, 98); */
    color: #F1651F;
}

.question-btn:hover {
    /* box-shadow: 0px 0px 6px 2px #E8E8E8; */
    box-shadow: 0px 0px 3px 2px white;
    /* background-color: white; */
    color: #F1651F;
    transform: scale(1.02);
    transition: box-shadow, transform 0.2s ease-in-out;
    cursor: pointer;
}
