.blog-banner-container {
    font-family: 'Helvetica', sans-serif;
        color: rgb(53, 53, 53);

    letter-spacing: 0.02em;
    font-weight: 500;
    min-height: 500px;
    min-width: 69.6vw;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.blog-banner-text {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    /* margin: 5px 0px 5px 0px; */
    margin: 0;
}


.blog-banner-text > h3 {
    white-space: nowrap;
    font-size: 18px;
}


.blog-banner-text > a {
    white-space: nowrap;
    font-size: 12px;
    text-decoration: none;
    margin: 3px 10px 0px 10px;
    color: rgb(73, 73, 73);
}

.blog-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    min-width: 100%;
    /* border: 1px solid fuchsia; */
}



.blog-card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    height: 500px;
    /* width: 420px; */
    width: 400px;
    
    margin: 20px 0px 20px 0px;
    /* border: 1px solid blue; */
}

.blog-card:hover {
    cursor: pointer;
} 


.blog-card > img {
    display: block;
    object-fit: cover;
    border-radius: 2px;
    height: 300px;
    width: 100%;
}

.blog-card-text {
    margin: 0px 10px 0px 10px;
}


.blog-card-text  > aside {
    font-family: 'Raleway', sans-serif;
    white-space: nowrap;
    font-size: 12px;
    margin: 20px 0px 5px 0px;
}


.blog-card-text > h4 {
    font-family: 'Arial', sans-serif;
        /* color: rgb(73, 73, 73); */

    font-size: 16px;
    font-weight: 700;
    margin: 5px 0px 10px 0px;
}


.blog-card-text > p {
    /* color: rgb(73, 73, 73); */
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    margin: 10px 0px 10px 0px;
}