#cat-module-container {
    display: flex;
    justify-content: space-between;
    height: 190px;
    /* height: auto; */
    /* width: 100%; */
    width: 100%;
    margin-top: 15px;
    /* margin-bottom: 25px; */
    /* margin-bottom: 30px; */
    margin-bottom: 50px;
    /* border: 1px solid blue; */
}

.centered{
    justify-content: space-between;
}


.flex-start{
    justify-content: flex-start;
} 



.cat-title {
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;
}

/* .cat-module {
    display: flex;
    justify-content: space-between;
    width: auto;
    border: 1px solid pink;
} */