#cat-module-container {
    display: flex;
    height: 190px;
    /* height: auto; */
    /* width: 100%; */
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 20px;
    /* border: 1px solid red; */

}

.centered{
    justify-content: space-between;
}

.flex-start{
    justify-content: flex-start;
}



.cat-title {
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;
}

/* .cat-module {
    display: flex;
    justify-content: space-between;
    width: auto;
    border: 1px solid pink;
} */