.main-headline-text {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* margin: 33px 0px 36px 0px;   */
    margin: 37px 0px 42px 0px;  
}


.main-headline-text p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 29.5px;

    font-family: 'Roboto Slab', serif;  /* font-weight is specified in font import url */
    /* letter-spacing: 0px; */
    font-weight: 700;
    min-width: 950px;
}

/* 
.headline-p1 {
    position: absolute;
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-direction: alternate-reverse;  
}


.headline-p2 {
    position: absolute;
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 15s;
    animation-direction: normal;
    animation-delay: 4s;
    animation-play-state: running;
    animation-fill-mode: backwards;  

}

.headline-p3 {
    position: absolute;
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 6s;
    animation-delay: 14s;
    animation-direction: normal;
}

@keyframes fade{
    0%,30% {
      opacity: 0;
}
    60%{
      opacity: 1;
  }
    100%{
      opacity: 0;
  }
} */

    

@media only screen and (max-width: 1500px) {

    .main-headline-text p {
            text-align: center;

        font-size: 29.5px;

        font-family: 'Roboto Slab', serif;  /* font-weight is specify in font import url */
        font-weight: 700;
        min-width: 600px;
        /* transform: scale(0.7); */
    }
    
}

@media only screen and (max-width: 900px) {

    .main-headline-text {
        margin: 24px 0;
    }

}
