#splash-main {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}
/* 
.splash-loading {
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 10px;
    width: 100%;
} */

.splash-loading {
    /* top: 0; */
    display: block;
    position: relative;
    height: 10px;
    width: 100%;
}

.splash-anchor {
    display: block;
    visibility: hidden;
    height: 110vh;
    width: 100%;
    /* border: 1px solid blue; */
}

.splash-inner {
    display: flex;
    flex-direction: column;
}

.cat-modules {
    display: flex;
    flex-direction: column;
    margin-top: 0px
}

.cat-mod { /* for styling all cat-modules together */
    /* border: 1px solid red; */
    /* padding: 25px 0px 25px 0px; */
    margin: 15px 0px 15px 0px;
}


.cat-module-header {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.7px;
    display: flex;
    height: auto;
    margin-bottom: 10px;
    /* margin: 5px 0px 5px 0px; */
    /* border: 1px solid turquoise; */
}

.cat-module-header > a {
    /* display: flex;
    align-self: flex-end; */
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 0px -1px 12px;
    color: #212121;
    font-weight: bolder;

    /* border: 1px solid purple; */
}

.buzzwords-banner {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: 40px 0px 10px 0px;
    /* margin: 30px 0px 16px 0px; */
    /* border: 1px solid fuchsia; */
}




.buzzwords-block {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
    height: 100%;
    padding: 1.5% 0 2% 0;
}

.buzzwords-block > h2 {
    position: relative;
    font-size: 17px;
    margin-bottom: 3px;
}

.buzzwords-block > p {
    line-height: 1.5;
    font-size: 14px;
}


.checkmark > svg {
    /* display: flex; */
    
    fill: #F1651F;
}


.check-1 {
    position: absolute;
    height: 7%;
    width: 7%;
    left: 22%;
    top: -20%;
}
.check-2 {
    position: absolute;
    height: 7%;
    width: 7%;
    left: 20%;
    top: -20%;
}
.check-3 {
    position: absolute;
    height: 7%;
    width: 7%;
    left: 23%;
    top: -20%;
}







/* .prods {
    display: flex;
    height: 300px;
    width: 100%;
}


.prod-card {
    height: auto;
    width: 100px;
}

.prod-card > img {
    height: 100px;
    width: 100px;
} */