.index-products {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    border: 1px solid red;
}


.index-row {
    display: flex;
    width: 100%;
    border: 1px solid blue;
}