#category-divider {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    height: 114px;
    /* height: 106px; */
    border-bottom: 2px solid rgb(221, 221, 221);
    /* padding-bottom: -2px; */
    /* padding: 0px; */
    z-index: -5;
}

.categories-bar {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: space-around; */
    /* width: auto; */
    height: 45px;
    width: 100vw;
    padding: 0px 15px 0px 10px;
    /* padding-bottom: 10px; */
    /* border: 1px solid red; */
}


.navbar-cat-header{
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 12.5px;
    letter-spacing: 0.5px;
    /* height: 40px; */
    height: 100%;
    /* padding: 15px 0px 15px 0px; */
    /* padding: 10px 0px 10px 0px; */
    padding-top: 6px;
    margin-bottom: -3px;
          /* transition: .3s ease-in-out; */
    /* border: 1px solid red; */
}

/* .navbar-cat-header:not(:first-of-type) {
    padding: 0px 10px 0px 0px;

}

.navbar-cat-header:not(:last-of-type){
    padding: 0px 0px 0px 10px;
} */

/* .cat-header-underline {
    position: absolute;
    height: 10px;
    width: auto;
    bottom: 0;
    border-bottom: 1px solid black;
} */

.navbar-cat-header:hover {
    cursor: pointer;
}

.navbar-cat-header:hover > hr {
    display: block;
    /* border-bottom: 1.5px solid black; */
    /* transition: .3s ease-in-out; */
}


hr:after {
	background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: flex;
  height: 2px;
  /* left: 50%; */
  left: 50%;
  position: absolute;
    /* background: tomato; */
  background: black;
  /* transition: width 0.3s ease 0s, left 0.3s ease 0s; */
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-cat-header:hover > hr:after { 
  width: 100%; 
  left: 0; 
}

hr {
    border: none;
    /* display: flex;
    position: absolute;
    bottom: 0; */
    /*bottom: 0;
    height: 1.5px;
    width: 100%;
    margin: 0;
    background: tomato;
    border: none;
    display: none; */
    /* transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0; */
}


/* hr:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
} */







.navbar-cat-header > div {
    /* position: absolute; */
    /* right: 3.5%; */
    /* top: 21.5%; */
    /* top: 13%; */
    /* top: 40%; */
    /* bottom: 0%; */
    display: flex;
    height: auto;
    width: auto;
    padding-right: 5px;
    padding-bottom: 3px;
}

.navbar-cat-header > svg {
    height: 15px;
    width: 15px;
}









@media only screen and (max-width: 900px) {
    .categories-bar {
        display: none;
    }

    #category-divider {
        display: flex;
        position: absolute;
        box-sizing: border-box;
        width: 100vw;
        height: 82px;
        border-bottom: 1px solid #EFEFEF;
        /* padding-bottom: -2px; */
        /* padding: 0px; */
    }
}