#category-divider {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    /* height: 124px; */
    height: 106px;
    border-bottom: 2px solid rgb(221, 221, 221);
    /* padding-bottom: -2px; */
    /* padding: 0px; */
    z-index: -5;
}

.categories-bar {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: space-around; */
    /* width: auto; */
    height: 30px;
    width: 100vw;
    padding: 0px 15px 5px 0px;
    /* padding-bottom: 10px; */
}


.navbar-cat-header{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 12.5px;
    letter-spacing: 0.5px;
}

/* .navbar-cat-header:not(:first-of-type) {
    padding: 0px 10px 0px 0px;

}

.navbar-cat-header:not(:last-of-type){
    padding: 0px 0px 0px 10px;
} */

.gift-icon {
    position: absolute;
    right: 3.5%;
    top: 21.5%;
    display: flex;
    height: auto;
    width: auto;
}

.gift-icon > svg {
    height: 15px;
    width: 15px;
}









@media only screen and (max-width: 900px) {
    .categories-bar {
        display: none;
    }

    #category-divider {
        display: flex;
        position: absolute;
        box-sizing: border-box;
        width: 100vw;
        height: 121px;
        border-bottom: 1px solid #EFEFEF;
        /* padding-bottom: -2px; */
        /* padding: 0px; */
        z-index: 2;
    }
}