@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap.scss';
@import 'util/overrides.scss';


#app {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    color: #212121;
}


.inner {  
    /* width: auto; */
    border-collapse: collapse;
    box-sizing: border-box;
}


#content-placeholder {
    display: block;
    visibility: hidden;
    height: 1000px;
    width: 100%;
}

@media only screen and (max-width: 1900px) {
    #main {
        min-width: 75vw;
        display: block;
        /* height: 2000px; */
    }
}


/* @media only screen and (max-width: 1400px) {
    #main {
        margin-left: 5%;
        margin-right: 5%;
        min-width: 900px;
        border: 1px solid green;
    }
} */ 
 
/* @media only screen and (max-width: 900px) {

}  */