.gifts-page-container {
    position: absolute;
    display: flex;
    height: 100%;
    /* width: fit-content; */
    width: 100%;
    left: 0;
    margin-bottom: 100px;
    /* background-color: blue; */
} 

