.hidden {
    display: none;
}

.visible {
    position: absolute;
    display: block;
}

.all-reviews-container {
    margin-top: 50px;
    margin-bottom: 400px;
}



.review-header-divider {
    box-sizing: border-box;
    width: 44.5vw;
    height: auto;
    margin: 20px 0px 20px 0px;
    border-bottom: 1.5px solid gainsboro;
    z-index: -5;
}

.review-header {
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    height: auto;
    width: fit-content;
    padding: 0px 0px 10px 0px;
    margin-bottom: -1.5px;

    border-bottom: 1.5px solid gray;
}



.review-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 68.5%;
    margin-top: 20px;
}