.hidden {
    display: none;
}

.visible {
    position: absolute;
    display: block;
}

.all-reviews-container {
    margin-top: 50px;
    margin-bottom: 400px;
}



.review-header-divider {
    box-sizing: border-box;
    width: 44.5vw;
    height: auto;
    margin: 20px 0px 20px 0px;
    border-bottom: 1.5px solid gainsboro;
    z-index: -5;
}

.review-header {
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    height: auto;
    width: fit-content;
    padding: 0px 0px 10px 0px;
    margin-bottom: -1.5px;

    border-bottom: 1.5px solid gray;
}



.review-container {
    display: flex;
    /* flex-direction: column; */
    height: auto;
    width: 68.5%;
    /* margin-top: 20px; */
}



.delete-review-confirm  button:first-of-type {
    margin-right: 5px;
}

.delete-review-confirm  button:hover {
    cursor: pointer;
}




.review-content {  /* aligns all review content */
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    /* margin-top: -27px; */
    margin-left: 30px;
    /* margin: 50px 0; */
}




.review-edit-btns {
    font-size: 12px;
    display: flex;
    /* justify-content: flex-end; */
    margin-top: 10px;

}

.review-edit-btns > div {
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 1px 3px;
}

.review-edit-btns > div:first-of-type {
    margin-right: 5px;
}

.review-edit-btns > div:hover {
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .all-reviews-container {
        padding-top: 100px;
    }
}