.single-review { /* main width container for ALL reviews on product_show page */
    display: flex;
    height: 170px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
}

.review-img-container {
    width: 45px;
    margin: 0;
}



.min-header {
    display: flex;
    font-size: 14px;
    height: auto;
    width: 200px;
    margin-bottom: 10px;
}



.review-author {
    width: auto;
    text-decoration: underline;

}

.review-date {
    width: auto;
    margin-left: 7px;
}

.review-img-container > img {
    display: block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.review-rating  {
    display: flex;
    flex-wrap: nowrap;;
    width: 100px;
    height: 20px;
    margin-bottom: 7px;
}

.review-rating  > svg{
    display: flex;
    height: 16px;
    width: 16px;
}



