.photo-carousel {
    display: flex;
    height: 80vh;
    width: 70%;
    max-width: 61vw;
    min-width: 45vw;
}


.photos-small-panel {
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 61px;
    max-width: 64px;
    margin-right: 5px;
}

.photo-small {
    object-fit: cover;
    object-position: 50% 20%;
    box-sizing: border-box;
    display: flex;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    height: 64px;
    width: 100%;
}

.photo-small-container {
    opacity: 0.6;
}

.photo-small-container:not(:first-child) {
    margin-top: 3px;
}

.photo-small-container:not(:last-child) {
    margin-bottom: 3px;
}


.photo-small:hover {
    border: 1px solid black;
    opacity: 1;
}

.active-listing {
    opacity: 1;
    border-radius: 5px;
}


.photo-large-container {
    display: flex;
    position: relative;
    justify-content: flex-start;
    max-width: 790px;
    width: 100%;  
}

.photo-large {
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: 100%;
    max-width: 900px;
    min-width: 300px;
    width: 100%;
    margin-left: 0px;
    border-radius: 5px;
      position: absolute;
}




.left-arrow-icon {
    height: 48px;
    width: 48px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 1px 1px 50px -12px gray;
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 3;
}

.left-arrow-icon > svg {
    transform: scale(0.5);
}

.right-arrow-icon {
    height: 48px;
    width: 48px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 1px 1px 50px -12px gray;
    position: absolute;
    /* right: 7%; */
    right: 10px;
    top: 50%;
    z-index: 3;
}

.right-arrow-icon > svg {
    transform: scale(0.5);
}

.left-arrow-icon:hover, .right-arrow-icon:hover {
    cursor: pointer
}

/* Media Query Breakpoints */

/* @media only screen and (max-width: 1400px) {
    .photo-carousel {
        display: flex;
        height: 80vh;
        max-width: 55vw;
        min-width: 50vw;
        position: relative;
    }

    .photo-large-container {
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: none;

    } 

    .photo-large {
        display: flex;
        justify-content: center;
        max-width: 700px;
        min-width: 200px;
        padding: 0 10px 0 10px;
        border-radius: 5px;
    } 
} */

/* 
@media only screen and (max-width: 1200px) {
    .photo-carousel {
        display: flex;
        height: 80vh;
        max-width: 60vw;
        min-width: 50vw;
        position: relative;
    }

    .photo-large-container {
        display: flex;
        justify-content: center;
        width: 100%;
        border: 1px solid gray;
        overflow: none;

    } 

    .photo-large {
        display: flex;
        justify-content: center;
        max-width: 700px;
        min-width: 200px;
        padding: 0 10px 0 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    } 
} */



@media only screen and (max-width: 1200px) {
    .photo-carousel {
        display: flex;
        height: 500px;
        max-width: 40vw;
    }    


    .photo-large-container {
        display: flex;
        justify-content: center;
        width: 100%;
        /* border: 1px solid fuchsia; */
        overflow: none;

    } 

    .photo-large {
        display: flex;
        justify-content: center;
        max-width: 400px;
         min-width: 200px; 
         max-height: 400px; 
        padding: 0 10px 0 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    } 
}

/*
@media only screen and (max-width: 1000px) {
    .photo-carousel {
        display: flex;
        max-width: 200vw;
    }    


    .photo-large-container {
        display: flex;
        justify-content: center;
        max-width: 10vw; 
        border: 1px solid fuchsia;
        overflow: none;

    } 

    .photo-large {
        display: flex;
        justify-content: center;
        height: auto;
        width: auto;
        max-width: 400px;
        min-width: 200px;
        padding: 0 10px 0 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    } 
}

 */
