.product-card-container {
    /* height: 190px; */
    min-width: 207px;
    font-family: 'Arial', sans-serif; 
    font-size: 15px;
    font-weight: normal;
    /* border: 1px solid pink; */
     /* border-radius: 2px;
    margin-bottom: 5px;
    transition: box-shadow 0.3s ease; */
}

.large-card {
    /* min-height: 260px; */
    width: 250px;

}

.regular-card {
    height: auto;
    width: 207px;
}

// .flex-start > .product-card-container {
//     margin-right: 20px;
// }


.index-card-stars > svg {
    display: block;
    height: 14px;
    width: 14px;
    margin: 2px 0px 2px 0px;
    /* height: 15px;
    width: 15px; */
}

.index-card-stars {
    display: flex;
    /* flex-direction: row; */
    /* height: 20px; */
    /*  width: 20px; */
}

/* .product-card-container:not(:first-of-type) {
    margin: 0px 0px 0px 10px;
}

.product-card-container:not(:last-of-type){
    margin: 0px 10px 0px 0px;
} */

.product-card-image {
    display: flex;
    align-items: flex-end;
    /* object-position: top; */
    /* object-position: 50% 20%; */
    /* max-height: 150px; */
    height: 163px;
    width: 100%;
    /* width: 207px; */

    border-radius: 2px;
    /* margin-bottom: 5px; */
    /* transition: box-shadow 0.3s ease; */
}

.adjusted-img {
    object-fit: cover;
    object-position: 35% 15%;
    margin-bottom: 5px;
    /* width: 207px; */
    /* border: 1px solid fuchsia; */
}

.reg-img {
    object-fit: cover;
    object-position: center;
    margin-bottom: 5px;
}

.product-card-name {
    color: rgb(78, 78, 78);
    font-size: 15px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 18px;
}


.adjusted-img:hover, .reg-img:hover  {
    cursor: pointer;

    box-shadow: 0px 0px  10px 1px rgb(212, 212, 212);
      transition: box-shadow 0.3s ease-in-out;
}



.product-card-price {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    margin: 6px 0px 6px 0px;
}

.product-card-store {
    color: gainsboro;
}
/* .product-card-img {
    width: 100%;
    height: 100%;
} */

.product-card-container > a {
    color: inherit;
    text-decoration: none;
}

.product-card-container {
    position: relative;
}


.bestseller {
    display: flex;
    align-items: center;
    height: 15px;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    border-radius: 15px;
    background-color: pink;
    font-family: 'Helvetica', sans serif;
    font-size: 12px;
    font-weight: normal;
}

@media only screen and (max-width: 1347px) {
    .product-card-container {
        min-width: unset;
    }
    .regular-card {
        width: 30%;
    }
    .flex-start>.product-card-container {
        margin-right: 0;
    }
}


@media only screen and (max-width: 1300px) {
    .large-card {
        width: 23%;
    }
}

@media only screen and (max-width: 850px) {
    .large-card {
        width: 49%;
    }
}